# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build (Vite/CRA)
dist/
build/

# Misc/Logs
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Environment Variables (THE MOST IMPORTANT PART)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj